[Desktop Entry]
Name=Edvige Mail
GenericName=Email Client
Comment=Decoupled, Local-First Desktop Email Client
Exec=~/.local/bin/edvige
Icon=edvige
Terminal=false
Type=Application
Categories=Network;Email;
StartupNotify=true
StartupWMClass=edvige-gui
Keywords=mail;email;imap;smtp;client;
Actions=Compose;

[Desktop Action Compose]
Name=Compose New Message
Exec=~/.local/bin/edvige --compose
